body {
    background-color: #000000;
    background-image: url("../../images/bg.jpg");
    background-size: cover;
    background-position: top center;
}
body, input, select, textarea {
    color: rgba(255, 255, 255, 0.65);
    font-size: 13pt;
    font-weight: 200;
    line-height: 1.65;
}
h1 {
    font-family: "Source Sans Pro", Helvetica, sans-serif;
    color: rgba(255, 255, 255, 0.65);
    font-weight: normal;
    line-height: 1.5;
    margin-top: 10%;
    font-size: 50px;
}
.form-control {
    margin-left: 42%;
    background: transparent;
    border: none;
    border-bottom-color: white; border-bottom-width: 1px;
    border-bottom-style: solid;
    outline:none;
    margin-bottom: 20px;
}
button {
    margin-left: 42%;
    padding: 7px 11px;
    border-radius: 7px;
    outline:none;
    background: transparent;
}
.circle-error{
    opacity: 0;
    color: #fff;
    position: absolute; top: 50%; right: 13px;
    margin-top: -10px;
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    background: #FF3736;
    border-radius: 50%;
    z-index: 999;
}



